@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    padding: 0;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}
@media screen and (max-width: 1886px) {
    .blockchain_{
        margin: 0;
        width: 100%;
        background-color: rgb(18, 29, 51)
    }
    section{
        height: 100%;
    }
    .top_link{
        position: static;
        padding: 0 5% 0 5%;
        z-index: 9;
        font-size: 0.875rem;
    }
    .login_links{
        display: flex; 
    }
    .login_links a{
        width: 100%;
    }
    .content{
        padding-top: 7%;
    }
    .login_cont{
        position: relative;
        padding: 0 32% 5% 32%;
    }
    .login_block{
        border-radius: 8px;
    }
    .icon1{
        padding: 10px;
    }
    input{
        padding: 6px 12px;
        border-radius: 5px;
        line-height: 32px;
        border: 1px solid rgb(110, 160, 230);
    }
    input:active, input:focus { 
        font-size: 13px;
        border: 1px solid rgb(217, 59, 48);
        outline: none; 
        background-color: #ffffff;
      }
    /* Style for the input when it is focused/active */
    input[type='submit']{
        background: rgb(146, 190, 221);
        border: none;
        color: white;
        padding: 6px 12px;
        line-height: 28px;
        margin-bottom: 40px;
    }
    .blc_act{
        padding: 10px;
    }
    form{
        border-bottom: solid 1px rgb(229, 229, 229);
    }
    .blk_phrase{
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
    .blockchain_logo{
        background-image: url('https://login.blockchain.com/img/bg-pattern.svg');
        box-sizing: border-box;
        position: relative;
        padding: 0 0 43px 0;
        margin-top: 0;
        height:6rem;
        bottom: 18px;
        background-color: rgb(18, 29, 51)
    }
    .blockchain_logo img{
        width: 240px;
    }
}


/* min screen view */
@media screen and (max-width: 768px){
    .login_cont{
        padding: 13px 13px;
        bottom: 2rem;
    }
    .login_block{
        bottom: 30%;
    }
    .top_link{
        position: relative;
        padding: 0.25rem 1rem;
        font-size: 0.875rem;
        /* font-size: 0.75rem; */
        height: 32px;
        width: 100%;
        font-weight: bold;
    } 
    .blockchain_logo {
        margin: 0;
        bottom: 3rem;
    
    }
    .blockchain_logo img {
        position: relative;
        width: 200px;
        top: 3rem;
    }
    
    section{
        height: 100%;
        min-height: 100%;
    }
}